<div class="main-container">
    <h4 class="title">COMPRAR PRODUCTOS</h4>
    <div class="container">
        <div class="product-card-container">
           <div class="image">
               <div class="buy"></div>
               <div class="add-to-cart"></div>
           </div> 
           <div class="title">
                Figura coleccionable de Bulma
           </div>
           <div class="description">
                Figura de 24cm escala 1/7 de Bulma de Dragon Ball Z
           </div>
           <div class="btns-container">
               <a href="#" class="btn">Comprar</a>
           </div>
        </div>
    </div>
</div>