<div class="footer">
    <div class="dragon-ball">
        <img src="/assets/db_4stars.png" alt="db_4stars.png">
    </div>
    <div class="links">
        <h3 class="title">Links</h3>
        <ul class="links-container">
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Políticas de privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Políticas de coockies</a></li>
        </ul>
    </div>
    <span class="copyright">Copyright @ 2021 TheDragonBallShop.com</span>
</div>