<header>
    <div class="main-header">
        <div class="logo">
            <h5>
                The Dragon Ball Shop
            </h5>
        </div>
        <div class="search-container">
            <a class="icon-container">
                <img src="/assets/search.png" alt="">
            </a>
            <input type="search" name="product-search" id="product-search" placeholder="¿Tienes este producto?">
            <a class="icon-container" href="#">
                <img src="/assets/forward-button.png" alt="">
            </a>
        </div>
    </div>
    <nav>
        <ul class="nav-bar">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Informacion</a></li>
            <li><a href="#">Contáctanos</a></li>
            <li><a href="#">Productos</a></li>
        </ul>
    </nav>
</header>