.banner-container{
    height: 100vh;
    background: var(--background-color);
    display: grid;
    grid-template-rows: 60% 40%;
    position: sticky;
    top: 0;
}
.img-container{
    /*position: fixed;
    */
    /* background: var(--background-color); */
    background-image: url("/assets/dragon-ball-z-extreme-butoden-banner.webp");
    background-size: cover;
    
    position: relative;
    /*width: 100vw;
    */
    
}
.img-container .date{
    position: absolute;
    left: -3rem;  
    z-index: 2;
    bottom: 30%;
    color: var(--light-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.img-container img{
    width: 100%;
    filter: brightness(.5);
    -webkit-filter: brightness(.5);
}


.info-container{
    /* width: 100vw; */
    /* min-height: 12rem; */
    display: flex;
    padding-left: 2rem;
    grid-template-columns: min-content max-content,
                            min-content max-content;
    grid-template-rows: max-content max-content;

    align-items: stretch;
    justify-content: left;
    gap: 2rem;
    background-color: var(--background-color);
    /* position: fixed;
    bottom: 0; */
    z-index: 7;
}
.see-products{
    width: max-content;
    padding: .5rem 2rem;
    position: absolute;
    right: 3em;
    height: 2rem;
    background-color: var(--buttons-color);
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    color: var(--background-secondary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
}.star img{
    fill: var(--dark-color);
    width: 5rem;
}

.info-container .social-media {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}.social-media .description{
    color: var(--dark-color);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}.social-media .container{
    display: flex;
    gap: 1rem;
    justify-content: center;
}.social-media .container .social-icon{
    flex: 0 1 2.5rem;
}.social-icon img{
    width: 100%;
}

.login-container{
    margin-top: 30px;
    margin-right: 20px;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}.login-container input{
    padding-left: 5px;
}
.login-container button{
    width: 8em;
    height: 8em;
    background-color: var(--buttons-color);
    color: var(--background-secondary-color);
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

}
@media screen and (max-width: 800px) {
    .img-container .date{
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {
    .social-media .container{
        justify-content: left;
    } 

    .img-container .date{
        font-size: 12px;

    }
}