<div class="banner-container">
    <div class="img-container">
        <div class="date">
            18 de junio de 2021
        </div>
        <!-- <img src="/assets/dragon-ball-z-extreme-butoden-banner.webp" alt=""> -->
    </div>
    <div class="info-container">
        <a href="#" class="see-products">Ver productos</a>
        <span class="star">
            <img src="assets/star.png" alt="" srcset="">
        </span>
        <div class="social-media">
            <h4 class="description">
                Nuestras redes sociales
            </h4>
            <a href="#"  class="social-icon">
                <img src="assets/icons8-twitter-100.png" alt="Twitter">
            </a>
            <a  href="#" class="social-icon">
                <img src="assets/icons8-instagram-100.png" alt="Instagram">
            </a>
            <a  href="#" class="social-icon">
                <img src="assets/icons8-facebook-100.png" alt="Facebook">
            </a>
        </div>
    </div>
</div>