<div class="main-container">
    <div class="who-we-are">
        <h4 class="description">
            ¿Quiénes somos?
        </h4>
        <p>
            Somos una tienda en línea con los mejores productos
            de Dragon Ball, Dragon Ball Z, Dragon Ball Super y 
            otros lanzamientos de Dragon Ball no canónicos como
            Dragon Ball GT.
             Nos dedicamos a ofrecer a nuestros usuarios una 
             experiencia 
        </p>
    </div>
    <div class="what-can-i-find">
        <h4 class="description">
            ¿Qué puedo encontrar aquí?
        </h4>
        <ul class="services-list">
            <li>
                <a href="#" class="service-item">1</a>
            </li>
            <li>
                <a href="#" class="service-item">1</a>
            </li>
            <li>
                <a href="#" class="service-item">1</a>
            </li>
            <li>
                <a href="#" class="service-item">1</a>
            </li>
        </ul>
    </div>
    <span class="star"></span>
    <span class="star"></span>
</div>