<div class="main-container">
    <div class="sub-container">

        <div class="card who-we-are">
            <h4 class="description">
                ¿Quiénes somos?
            </h4>
            <p>
                Somos una tienda en línea con los mejores productos
                de Dragon Ball, Dragon Ball Z, Dragon Ball Super y 
                otros lanzamientos de Dragon Ball no canónicos como
                Dragon Ball GT.
                Nos dedicamos a ofrecer a nuestros usuarios una 
                experiencia 
            </p>
        </div>
        <div class="card what-can-i-find">
            <h4 class="description">
                ¿Qué puedo encontrar aquí?
            </h4>
            <ul class="services-list">
                <li>
                    <a href="#" class="service-item">Articulos exclusivos coleccionables!</a>
                </li>
                <li>
                    <a href="#" class="service-item">Sagas completas en su versión DVD o BluRay!</a>
                </li>
                <li>
                    <a href="#" class="service-item">Los mejores videojuegos más vendidos en todo el mundo para toda clase de consolas y dispositivos!</a>
                </li>
                <li>
                    <a href="#">Peluches</a>
                </li>
                <li>
                    <a href="#" class="service-item">Peluches y muchos otros artículos impresionantes!</a>
                </li>
            </ul>
            <a href="#" class="see-products">Ver productos</a>
        </div>
    </div>
    
        <span class="star"></span>
        <span class="star"></span>
</div>